{% extends "layout.html" %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-5 mx-auto text-center">
    <h1 class="display-4 pb-md-5">라이트하우스</h1>
    <p class="lead"><mark>라이트하우스</mark>는 당신의 브랜딩 활동을 돕는 가벼운 도구입니다.</p>
    <p class="lead" style="color: #8e8c84;"><b>Lighthouse</b> is a light tool to help you with your <b>branding
            activities</b>.</p>
    <p class="lead pt-md-5">당신의 타운에서 라이트하우스가 되어 보세요!</p>
    <p class="lead" style="color: #8e8c84;">Be a lighthouse in your town!</p>
</div>
{% endblock content %}